<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<sectionGroup name="amplify">
		<section name="application" type="Amplify.Configuration.ApplicationSection, Amplify.Net" />
	</sectionGroup>
	<amplify>
		<application applicationMame="Amplify.Net" connectionStringName="default"  />
	</amplify>
	<connectionStrings>
		<add name="default" connectionString="Server=.\sqlexpress;Database=Amplify;user id=test;password=6413" />
	</connectionStrings>
</configuration>