
.error {
	color: #ff0000;	
}

.highlight {
	background: #FFFDE8 none repeat scroll 0% 0%;
}

.clear {
	clear: both;	
}

.left {
	float: left;	
}

.right {
	float: right;	
}

.overflow-visible {
	overflow: visible;	
}

.overflow-hidden {
	overflow: hidden;	
}

.hidden {
	display: none;	
}

.block {
	display: block;
}