<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Amplify.Data.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<section name="amplify"  type="Amplify.Configuration.AmplifySection, Amplify"/>
	</configSections>

	<amplify applicationName="Amplify.Data.Tests" mode="test">
		<plugins>
			<add name="loggin" type="Amplify.Configuration.LoggingPluginElement, Amplify" />
		</plugins>
	</amplify>
	<connectionStrings>
		<add name="mssql_test"  connectionString="Server=.\sqlexpress;Integrated Security=true;AttachDbFilename=|DataDirectory|\amplify_development.mdf;Database=amplify_development" providerName="System.Data.SqlClient" />
		<add name="mssql_creation_test"  connectionString="Server=.\sqlexpress;Integrated Security=true;AttachDbFilename=|DataDirectory|\mssql_creation.mdf;Database=mssql_creation" providerName="System.Data.SqlClient" />
		<add name="test" connectionString ="Server=.\sqlexpress;Integrated Security=true;AttachDbFilename=|DataDirectory|\amplify_test.mdf;User Instance=true;Database=amplify_test" providerName="System.Data.SqlClient" />
		<add name="ce_test" connectionString="Data Source=amplify_test.sdf;Persist Security Info=False;" providerName="System.Data.SqlServerCe"/>
	</connectionStrings>
		
	<userSettings>
        <Amplify.Data.Tests.Properties.Settings>
            <setting name="test" serializeAs="string">
                <value />
            </setting>
        </Amplify.Data.Tests.Properties.Settings>
    </userSettings>
</configuration>