<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
	  <add name="fuse_development" connectionString="Data Source=|DataDirectory|\Fuse_development.sdf" providerName="System.Data.SqlServerCe"  />
	  <add name="FuseContext" connectionString="metadata=res://*/Models.Fuse.csdl|res://*/Models.Fuse.ssdl|res://*/Models.Fuse.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Fuse_development.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>