<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
	  <add name="fuse_development" connectionString="Data Source=|DataDirectory|\Fuse_development.sdf" providerName="System.Data.SqlServerCe"  />
  </connectionStrings>
</configuration>