<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
	  <add name="fuse_development" connectionString="Data Source=|DataDirectory|\Fuse_development.sdf" providerName="System.Data.SqlServerCe"  />
	  <add name="development"  connectionString="Server=.\sqlexpress;Integrated Security=true;AttachDbFilename=|DataDirectory|\fuse_development.mdf;Database=fuse_development" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>