<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Amplify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<connectionStrings>

		<add name="default" connectionString="Server=.\sqlexpress;Database=CodeAccessory;Integrated Security=True;" />
		<add name="test" connectionString="Server=.\sqlexpress;Database=test_ActiveRecord;AttachDbFilename=|DataDirectory|test_ActiveRecord.mdf;Integrated Security=True;User Instance=true" />
	</connectionStrings>
    <applicationSettings>
        <Amplify.Properties.Settings>
            <setting name="CodeAccessoryConnectionString" serializeAs="String">
                <value />
            </setting>
        </Amplify.Properties.Settings>
    </applicationSettings>
</configuration>