<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="test" connectionString="Server=.\sqlexpress;Database=amp_test;integrated security=true;AttachDBFileName=|DataDirectory|\amp_test.mdf" providerName="system.data.sqlclient"/>
		<add name="staging" connectionString="Server=.\sqlexpress;Database=amp_staging;integrated security=true;AttachDBFileName=|DataDirectory|\amp_staging.mdf" providerName="system.data.sqlclient"/>
		<add name="development" connectionString="Server=.\sqlexpress;Database=amp_development;integrated security=true;AttachDBFileName=|DataDirectory|\amp_development.mdf" providerName="system.data.sqlclient"/>
		<add name="production" connectionString="Server=.\sqlexpress;Database=amp_production;integrated security=true;AttachDBFileName=|DataDirectory|\amp_production.mdf" providerName="system.data.sqlclient"/>
	</connectionStrings>
</configuration>